<%= form_for [current_user, @reservation] do |form| %>
	<%= render partial: "reservations/form", object: form %>
	
  	<%= form.hidden_field :listing_id, :value => @listing.id %>
  	<div class="submit-field">
  	  <%= form.submit %>
 	</div>
<% end %>