<div class="nav-container">
<%= link_to 'Home', root_path %>
<%= link_to 'Sign Up', sign_up_path %>
<%= link_to "Sign in with Facebook", "/auth/facebook" %>
<%= link_to 'Sign Out', sign_out_path, method: :delete %>
</div>
